.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  padding: 1rem 0;
}

.menu-container {
  margin: 15px auto;

  width: 80%;
  height: 17rem;

  background-color: white;

  border-radius: 10px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
}

.menu-item {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}

.menu-title {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  color: #d9cab3;
}

.coffee-menu h2 {
  border-bottom: 1px solid black;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: auto auto auto auto;
}

.breakfast-menu h2 {
  border-bottom: 1px solid black;
  width: 60%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: auto auto auto auto;
}

.baked-menu h2 {
  border-bottom: 1px solid black;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: auto auto auto auto;
}

.coffee-menu-img {
  display: none;
}

.breakfast-menu-img {
  display: none;
}

.baked-menu-img {
  display: none;
}

@media screen and (min-width: 800px) {
  .menu-grid-setup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .coffee-menu {
    grid-column: 1;
    grid-row: 1;

    max-width: 50%;
    height: 18rem;
    margin: 10px auto;
  }

  .coffee-menu h2 {
    border-bottom: 1px solid black;
    width: 40%;
    margin: 1rem auto 1.5rem auto;
  }

  .coffee-menu-img {
    display: inline-block;

    grid-column: 2;
    grid-row: 1;

    max-width: 50%;
    height: 18rem;
    margin: auto;

    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .breakfast-menu h2 {
    border-bottom: 1px solid black;
    width: 50%;
    margin: 1rem auto 1.5rem auto;
  }

  .breakfast-menu-img {
    display: inline-block;

    grid-column: 1;
    grid-row: 1;

    max-width: 50%;
    height: 18rem;
    margin: auto;

    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .breakfast-menu {
    grid-column: 2;
    grid-row: 1;

    max-width: 50%;
    height: 18rem;
    margin: auto;
  }

  .baked-menu h2 {
    border-bottom: 1px solid black;
    width: 70%;
    margin: 1rem auto 1.5rem auto;
  }

  .baked-menu-img {
    display: inline-block;

    grid-column: 2;
    grid-row: 1;

    max-width: 55%;
    height: 18rem;
    margin: auto;

    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  }

  .baked-menu {
    grid-column: 1;
    grid-row: 1;

    max-width: 50%;
    height: 18rem;
    margin: auto;
  }
}
