.menu-container {
  background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-card {
  transition: all linear 0.2s;
  background-color: white;
  border: 1px solid black;
  width: 95%;
  margin: 2% 2%;
  box-shadow: -1rem 2px 3rem black;
  padding-bottom: 1.5rem;
}

.menu-title {
  font-size: 3rem;
  border-bottom: 1px solid black;
  width: 70%;
  margin: 1.5rem auto 1.5rem auto;
  padding-bottom: 1rem;
  color: #d9cab3;
}

.menu-item {
  font-size: 1.5rem;
  text-align: start;
  margin-left: 1.5rem;
}

.desc-price {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  font-size: 1.15rem;
  justify-content: start;
}

.item-description {
  justify-content: start;
  display: inline-block;
}

@media screen and (min-width: 800px) {
  .menu-container {
    background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu-card {
    transition: all linear 0.2s;
    background-color: white;
    border: 1px solid black;
    width: 30%;
    margin: 2% 2%;
    box-shadow: -1rem 2px 3rem black;
    padding-bottom: 1.5rem;
  }

  .menu-card:hover {
    transition: all linear 0.2s;
    transform: translateY(-1rem);
  }

  .menu-card:hover ~ .menu-card {
    transition: all linear 0.2s;
  }

  .menu-title {
    font-size: 3rem;
    border-bottom: 1px solid black;
    width: 70%;
    margin: 1.5rem auto 1.5rem auto;
    padding-bottom: 1rem;
    color: #d9cab3;
  }

  .desc-price {
    display: grid;
    grid-template-columns: 1fr 0.25fr;
    font-size: 1.15rem;
    justify-content: start;
  }

  .menu-item {
    font-size: 1.5rem;
    text-align: start;
    margin-left: 1.5rem;
  }

  .item-description {
    justify-content: start;
    display: inline-block;
  }
}
