body {
  background-image: url("https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
}

.confirmation {
  margin: auto;
  margin-top: 5rem;
  width: 90%;

  border: 5px solid black;
  border-radius: 5px;

  background-color: black;
  color: white;
}

.confirmation-title {
  font-size: 2rem;
}

.confirmation-bill {
  font-size: 1.5rem;
}

.confirmation-item {
  font-size: 1.25rem;
}

/* Stripe CSS */

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  background-color: #7795f8;

  border-style: none;
  border-radius: 4px;

  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  will-change: opacity, transform;
}

.FormRow {
  display: flex;
  /* -ms-flex-align: center; */
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.stripe-btn {
  display: block;
  width: calc(100% - 30px);
  height: 40px;

  margin: 40px 15px 15px;
  background-color: #f6a4eb;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #ffb9f6;

  font-size: 16px;
  font-weight: 600;
  color: #fff;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
}

.stripe-btn:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

@media screen and (min-width: 800px) {
  .confirmation {
    width: 30%;
  }
}
