/* Smaller screens (> 800)*/
.nav {
  background-color: transparent;
}

.nav-container {
  background-color: black;
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 0 5px 5px grey;
}

.nav-logo {
  font-size: 4rem;
  grid-column: 1;
  margin-left: 20%;
  margin-top: 1rem;
}

.nav h4 {
  grid-column: 2;
  padding-left: 0;
  margin-top: 2rem;

  font-size: 1.5rem;
  font-family: "Merriweather", serif;
}

.nav-item {
  display: none;
}

.nav-hamburger {
  color: white;
  font-size: 3rem;
  font-family: "Merriweather", serif;

  grid-column: 4;
  grid-row: 1;
  margin: 1.5rem 0 0 2rem;

  transition: all 0.3s linear;
}

.nav-hamburger-clicked {
  transform: rotate(90deg);
  transition: all 0.3s linear;
}

.nav-hamburger:hover {
  color: #3282b8;
}

.hamburger-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
}

.hamburger-menu-item {
  font-size: 1.5rem;
  font-family: "Merriweather", serif;
  list-style: none;
  grid-row: 1fr;
  color: white;
}

.hamburger-menu-item a {
  color: white;
  text-decoration: none;
}

.hamburger-menu-item a:hover {
  transition: all 0.1s linear;
  font-size: 1.5rem;
  color: #3282b8;
}

.show-menu {
  background-color: black;
  position: absolute;
  overflow: hidden;

  height: 20rem;
  width: 15rem;
  border-radius: 10px;
  margin-left: 55%;
  margin-top: 15%;

  transition: all 0.3s linear;
}

.hide-menu {
  background-color: black;
  position: absolute;

  height: 0rem;
  width: 15rem;
  border-radius: 10px;
  margin-left: 55%;
  margin-top: 15%;

  transition: all 0.3s linear;
}

.hide-menu a {
  display: none;
}

/* larger screens */
@media screen and (min-width: 800px) {
  .nav-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .nav-item {
    display: grid;
    list-style: none;
    grid-column: auto;
    cursor: pointer;
    margin-top: 11.5%;

    font-family: "Merriweather", serif;
  }

  .nav-hamburger {
    display: none;
  }

  .nav-logo {
    margin-left: 50%;
  }

  .nav h4 {
    text-align: start;
  }

  .nav a {
    text-decoration: none;
  }

  .list-container {
    display: grid;
    grid-column: 3 / 6;
    grid-template-columns: repeat(4, 1fr);
  }

  .nav-item a {
    grid-column: auto;

    color: white;
    font-size: 1.25rem;
  }

  .nav-item a:hover {
    transition: all 0.1s linear;
    font-size: 1.5rem;
    color: #3282b8;
  }
}
