.reviews-container {
  background-color: rgb(32, 32, 32);

  padding: 55px 0;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.reviews-img {
  height: 15rem;
  width: 15rem;

  border-radius: 100%;
  border: 5px solid #d9cab3;
}

.reviews-name {
  font-family: "Merriweather", serif;
  font-size: 1.5rem;
  color: #d9cab3;
}

.reviews-quote {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: white;
}

.previous-review {
  display: none;
}

.next-review {
  display: none;
}

.next-btn {
  padding-bottom: 30px;

  background: transparent;
  border: none;

  font-size: 1.5rem;
  color: #d9cab3;

  cursor: pointer;
}

.prev-btn {
  background: transparent;
  border: none;

  font-size: 1.5rem;
  color: #d9cab3;

  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .reviews-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    height: 26rem;
    text-align: center;
  }

  .show {
    transition: linear all 0.2s;
    grid-row: 1;
    grid-column: 2;
    position: relative;
  }

  .previous-review {
    display: inline-block;
    transition: linear all 0.2s;
    opacity: 0.2;
    grid-row: 1;
    grid-column: 1;
  }

  .next-review {
    display: inline-block;
    transition: linear all 0.2s;
    opacity: 0.2;
    grid-row: 1;
    grid-column: 3;
  }

  .next-btn {
    font-size: 2rem;
  }

  .next-btn:hover {
    transform: scale(1.1);
  }

  .prev-btn {
    font-size: 2rem;
    padding-left: 30px;
  }

  .prev-btn:hover {
    transform: scale(1.1);
  }
}
